{% extends "layout_user.html.twig" %}
{% block content %}
{% block fos_user_content %}
    <div class="container pt-lg-5 pt-3">
        <div class="row mb-md-3 mb-lg-3">
            <div class="col-12">
                <h1 class="welcome-text mt-3 text-center">{% trans %}Welcome to FORDEALING{% endtrans %}</h1>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center formLogin mt-4">
            <p>{#{{ 'registration.confirmed'|trans({'%username%': user.username}) }}#}
                {% trans %}Congrats{% endtrans%} {{ user.username }}{% trans %}, your account is now activated.{% endtrans %}
            <div class="col-12">
            {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{% trans %}Back to the originating page.{% endtrans %}</a></p>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
{% endblock %}
