Vehicles: Véhicules
Jobs and services: Emplois et services
Media: Médias
Information: Information
Fashion: Mode
Home appliances: Appareils ménagers
Agriculture and gardens: Agriculture et jardins
Residence: Résidence
Jewelry and accessories: Bijoux et accessoires
Music: Musique
Sport: Sport
Pets: Animaux domestiques
Kids: Enfants
Furniture and decorations: Meubles et décorations
Holidays: Vacances
Car: Voiture
Motor: Moteur
Caravan: Caravane
Boat: Bateau
Agricultural machinery: Machines agricoles
Car parts: Pièces auto
Motor parts: Pièces moto
Vehicle accessories: Accessoires pour véhicules
Other: Autre
Job opportunity: Opportunité professionnelle
Translation: Traduction
Mathematics lessons: Cours de mathématiques
Music lessons: Leçons de musique
Language lessons: Cours de langue
Language exchange: Échange linguistique
House work: Travaux ménagers
Maintenance services: Services de maintenance
TV: Télévision
Wolkman: Wolkman
Camera: Caméra
Audio accessories: Accessoires audio
Camera accessories: Accessoires pour appareil photo
Headphones: Écouteurs
Telephone: Téléphone
Video games: Jeux vidéo
DVD Games: Jeux DVD
Games accessories: Accessoires de jeux
Movies: Films
Books: Livres
Computer: Ordinateur
laptop: Ordinateur portable
Tablet: Tablette
Mobile: portable
Scanner: Scanner
Printer: Imprimante
Monitor: Moniteur
Mouse: Souris
keyboard: clavier
Speaker: Haut-parleur
Hard disk: Disque dur
T-shirt: T-shirt
Shirt: Chemise
Trouser: Pantalon
Short: Short
Costume: Costume
Dress: Robe
Wedding dress: Robe de mariée
Jacket: Veste
Langerie: Langerie
Shoe: Chaussure
Slide sandal: Sandale Slide
Athletic shoe: Chaussure de sport
Refrigerator: Réfrigérateur
Cookers gas: Gazinière
Cookers electric: Cuisinière électrique
Gas plate: Plaque Gaz
Washing machine: Machine à laver
Fan: Ventilateur
Coffee machine: Cafetière
Electric kettle: Bouilloire électrique
Vaccuum cleaner: Aspirateur
Oven: Four
Blender: Mixeur
Stand Mixer: Batteur sur socle
Dishwashers: Lave-vaisselle
Electric fryer: Friteuse électrique
Freezer: Congélateur
Pressure cooker: Cocotte minute
Heater: Chauffage
Iron: Fer à repasser
Lady shavers: Rasoirs pour femmes
Sandwich toaster: Grille-pain sandwich
Meat grinder: Hachoir à viande
Grilling charcoal: Charbon de bois à griller
Hair dryer: Sèche-cheveux
Juicer machine: Presse-agrumes
Electric vegetable: Coupe legumes electrique
Kitchen accessories: Accessoires de cuisine
Garden table: Table de jardin
Swing: Balançoire
Seedlings: Semis
Garden chair: Chaise de jardin
Lawn mower: Tondeuse à gazon
Chainsaw: Tronçonneuse
Garden tools: Outils de jardin
Fuelwood: Bois de chauffage
Electric generator: Générateur électrique
Sell house: Maison à vendre
Sell apartment: Appartement à vendre
Sell office: Bureau à vendre
Sell shop: Boutique à vendre
Sell car parking: Parking à vendre
Sell farm: Ferme à vendre
Rent house: Maison à louer
Rent apartment: Appartement à louer
Office rental: Location de bureaux
Rent shop: Location boutique
Rent car parking: Parking à louer
Rent farm: Ferme à louer
Collective housing: Logement collectif
Necklaces: Colliers
Collier: Charbonnier
Bracelet: Bracelet
Ring: Bague
Watch: Montre-bracelet
Earrings: Boucles d'oreilles
Perfumes: Parfums
Wine: Vin
Piano: Piano
Violin: Violon
Trumpet: Trompette
Flute: Flûte
Clarinet: Clarinette
Drums: Batterie
Cello: Violoncelle
Contrabass: Contrebasse
Electric guitar: Guitare électrique
Classic guitar: Guitare classique
Digital keyboard: Electronic Keyboard
Accordion: Accordéon
Music accessories: Accessoires de musique
Ski boots: Chaussures de ski
Roller skating: Roller
Parachute: Parachute
Swimming glasses: Lunettes de natation
Football: Football
Basketball: Basketball
Iron balls: Boules de pétanque
Volley ball: Volley-ball
American football: Football américain
Sports tool: Outil de sport
Bicycle: Vélo
Bicycle accessories: Accessoires vélo
Cat: Chat
Dog: Chien
Hamster: Hamster
Crib: Lit de bébé
Stroller: Poussette
Diapers: Couches
Mattress: Matelas
Baby clothes: Vêtements de bébé
Baby tools: Outils bébé
Baby toys: Jouets pour bébé
Couch: Canapé
Dining table: Table à manger
Chest of drawers: Commode
Closet: Placard
Central table: Table basse
Bed: Lit
Quilt: Courtepointe
Carpet: Tapis
Chair: Chaise
Office chair: Chaise de bureau
Sofa: Fauteuille
Racks: Racks
Study table: Table de travail
Click clack: Clic-clac
Nightstand: Table de chevet
Shoe cabinet: Meuble à chaussures
Chandelier: Lustre
Antic: Antique
Painting: Tableau artistique
Roses: Roses
Curtain: Rideau
Floor lamp: Lampadaire
Mirror: Miroir
Camp: Camp
Hotel: Hôtel
Cottage: Cabane
Chalet: Chalet
Cards and reservations: Cartes et réservations
Men's shaver: Rasoir pour homme
