{% block content %}
    <h1>{% trans %} hosting index{% endtrans %}</h1>
{% for hosting in hostings %}
    <a href="{{ path('hosting_show',{'id':hosting.id}) }}">
        {{ hosting.id }}<br>
    </a>
{% endfor %}
{% endblock %}

