{% extends 'base.html.twig' %}

{% block title %}New Ospecification{% endblock %}

{% block body %}
    <h1>Create new Ospecification</h1>

    {{ include('ospecification/_form.html.twig') }}

    <a href="{{ path('ospecification_index') }}">back to list</a>
{% endblock %}
