{% extends "layout_user.html.twig" %}

{% block title %}Ad index{% endblock %}

{% block content %}
    <div class="text-center">
    {% if app.user is same as (null) %}
        {% if ads is empty %}
          <h1>no results fond</h1>
        {% endif %}
        {% block ads_content %}
            {% include "Ads/ad/view/ads.html.twig" %}
        {% endblock ads_content %}
    {% endif %}
    </div>
    {% if app.user is not same as (null) %}
        {% if ad_area is not empty %}
            {% block area_ads_content %}
                {% include "Ads/ad/view/area_ads.html.twig" %}
            {% endblock area_ads_content %}
        {% else %}
            {% if ads is empty %}
                <h1>no results fond</h1>
            {% endif %}
            {% block user_ads_content %}
                {% include "Ads/ad/view/ads.html.twig" %}
            {% endblock user_ads_content %}
        {% endif %}
    {% endif %}
{% endblock %}
