{% if app.user is same as(null) %}
    {% set layout = "layout_visitor.html.twig" %}
{% else %}
    {% set layout = "layout_user.html.twig" %}
{% endif %}
 {% extends layout %}
{% block title %}{% trans %} Ad index{% endtrans %}{% endblock %}

{% block content %}
    <div class="text-center">
    {% if app.user is same as (null) %}
        {% if ads is empty %}
            <h2 class="blued text-center">{% trans %}Sorry .. there are no results{% endtrans %}</h2>
        {% endif %}
        {% block ads_content %}
            {% include "Ads/ad/view/ads.html.twig" %}
        {% endblock ads_content %}
    {% endif %}
    </div>
    {% if app.user is not same as (null) %}
        {% if ad_area is not empty %}
            {% block area_ads_content %}
                {% include "Ads/ad/view/area_ads.html.twig" %}
            {% endblock area_ads_content %}
        {% else %}
            {% if ads is empty %}
                <h2 class="blued text-center">{% trans %}Sorry .. there are no results{% endtrans %}</h2>
            {% endif %}
            {% block user_ads_content %}
                {% include "Ads/ad/view/ads.html.twig" %}
            {% endblock user_ads_content %}
        {% endif %}
    {% endif %}
{% endblock %}
