{% extends "layout_user.html.twig" %}
{% block title %}{% trans %} New Ad{% endtrans %}{% endblock %}
{% block content %}
    <div id="soso">
        {{ include('Ads/ad/_form.html.twig') }}
    </div>

{% endblock %}
