{% extends 'base.html.twig' %}

{% block title %}Edit DoneDeal{% endblock %}

{% block body %}
    <h1>Edit DoneDeal</h1>

    {{ include('deal_done_deal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('deal_done_deal_index') }}">back to list</a>

    {{ include('deal_done_deal/_delete_form.html.twig') }}
{% endblock %}
