{% extends 'base.html.twig' %}

{% block title %}New DoneDeal{% endblock %}

{% block body %}
    <h1>Create new DoneDeal</h1>

    {{ include('deal_done_deal/_form.html.twig') }}

    <a href="{{ path('deal_done_deal_index') }}">back to list</a>
{% endblock %}
