{% extends "layout_user.html.twig" %}

{% block title %}{% trans %} New Voyage{% endtrans %}{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-12 btn-group">
                <div class="numberCircle mx-1 badge-gray">1</div>
                <div class="numberCircle mx-1 badge-blue">2</div>
            </div>
            <div class="col-12">
                {{ include('carpool/voyage/formSecond.html.twig') }}
            </div>
        </div>
{% endblock %}