
#accordion .card-header {
     padding: 0.10rem 0.10rem;
     margin-bottom: 0;
     background-color: rgba(244, 244, 215, 1);
     border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#accordion .card-header:first-child {
     border-radius: unset;
}
#accordion .card {
     border: unset;
}