.count-user h1{
  font-size: 800%;
}
.driver-count {
  color: whitesmoke;
  background-color: #00B5CE;
}
.hostingCount {
  color: whitesmoke;
  background-color: #9c9c9c;
}
.carpoolCount {
  color: whitesmoke;
  background-color: #8175c7;
}
.activated{
  background-color: #088c0c;
}
.unactivated{
  background-color: #d02121;
}

.numberCaree {
  border-radius: 12px;
  text-align: center;
  font: 3em Arial, sans-serif;
}

.circle-red {
  display: block;
  background: red;
  border-radius: 100%;
  height: 1.2vw;
  width: 1.2vw;
  background: radial-gradient(circle at 50px 50px, red,brown );
  float: right;
  box-shadow: 0px 0px 10px;
}
.circle-green {
  display: block;
  background: limegreen;
  border-radius: 100%;
  height: 1.2vw;
  width: 1.2vw;
  background: radial-gradient(circle at 50px 50px, limegreen, green);
  box-shadow: 0 0 0 rgba(50, 204, 0, 0.4);
  animation: pulse 1s infinite;
  float: right;
}
.admin-check label{
  margin-top: 1vh;
  width:100px;
}

//visits and footer
.social-media-icon img{
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

#admin-ul{
  padding-left: 2px;
  margin-top: 80px;
  list-style: none;
  padding-bottom: 1em;
}

#visit-index a{
  text-decoration: none;
}