.offer-user{
  display: inline-block;
}

.deon-deal{
  display: inline-block;
}
.done-deal img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.done-deal-photo{
  font-size: 56px;
  color:$blued;

}
.done-deal span{
  color: $rosed;
}


.deal a{
  text-decoration:none !important
}
.deal b {
  color:$gray-500;
}
.done-deal b {
  color:$gray-600;
}
.done-deal a{
  text-decoration:none !important
}
.deals-form span {
  color: $blued;
}
.border-driver {
  -webkit-box-shadow: 0px 0px 10px #D2D4D7;
  -moz-box-shadow: 0px 0px 10px #d2d4d7;
  box-shadow: 0px 0px 10px #d2d4d7;
  margin-top: 1%;
  margin-bottom: 1%;
}
.driver-img img {
  height: 20vh;
  max-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}



/* deal-show */

.deal-show img {
  width:80px;
  height:80px;
  border-radius: 50%;
}
.deal-show{
  display: inline;

}
.deal-show-photo{
  font-size: 66px;
  color:$blued;

}
.deal-show-photo-small{
  font-size: 36px;
  color:$blued ;

}

.border-deal {
  -webkit-box-shadow: 0px 0px 10px #D2D4D7;
  -moz-box-shadow: 0px 0px 10px #d2d4d7;
  box-shadow: 0px 0px 10px #d2d4d7;
  margin-top: 1%;
  margin-bottom: 1%;
}

.btn-group{
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.btn-group form{
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.btn-group form button{
  /*border-radius: 25% 10%;*/
}
.btn-group a.btn{
  border-radius: 2%;
}

// driver request
.pending {
  background-color: #fff9e8;
}
.rejected {
  background-color: #f28a8a;
}
.accepted {
  background-color: #7cbf8a;
}

.deal-terminate img{
  width:1.5rem;
  height:1.5rem;
}

.badge-points{
  font-size:16px;
}

.blued {
  color:$blued;
}
.rosed{
  color:$rosed;
}

.new-deal{
  background-color: #00B5CE;
  color: whitesmoke;
}
.new-deal span{
  color: whitesmoke;

}

.deal:hover{
  text-decoration:none;
  opacity: 0.8;
}
.deal-photo{
  font-size: 4em;
  color: #444444;
  vertical-align: middle;
}
.offer-user img {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.grayed{
  color: #444444;
}
.deal-border-bottom{
  border-bottom: solid 1px lavender;
}
.deal-border-top{
  border-top: solid 1px lavender;
}
.deal_offer{
  border-bottom: solid 2px rgba(0, 181, 206, 0.5) ;
  border-right: solid 2px rgba(0, 181, 206, 0.5) ;
}
.deal_demand{
  /*background-color: #F70055;*/
  border-bottom: solid 2px rgba(247, 0, 85, 0.5) ;
  border-right: solid 2px rgba(247, 0, 85, 0.5) ;
}
.p-deal{
  background-color: #ffffc4;
}
.d-deal{
  background-color: #7cbf8a;
}

.done-deal-font-color b{
  color: #444444;
}

.five-point img{
  height: 5em;
  width: 5em;
}
.done-deal-height{
  min-height: 8em;
}

.border-bottom-none .nav-tabs .nav-link {
  border-bottom: none;
}
#driver_request textarea{
  resize: none;
  height: 7em;
}
@media (max-width: 575px) {
  .driver-request-button button{
    min-height: 6em;
  }
}