.hosting-edit img {
  width: 100%;
  height: 12em;
  text-align: center;
  margin: auto;
}

.hosting-edit:hover img {
  opacity: 0.6;
  cursor: pointer;
}
.hosting-edit:hover .middle {
  opacity: 0.8;
  cursor: pointer;

}
#hosting_aboutMe{
  resize: none;
  height: 20vh;
}
#hosting_hostingFor{
  resize: none;
  height: 20vh;
}
#hosting-specifications{
  color: aliceblue;
}

.image_hosting {
  height: 20vh;
  max-width:100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
#hosting_index a{
  text-decoration:none;
  color:black;
}
.hosting_index:hover{
  -webkit-box-shadow: 0px 0px 10px #00B5CE;
  -moz-box-shadow: 0px 0px 10px #00B5CE;
  box-shadow: 0px 0px 10px #00B5CE;
  text-decoration:none;
  color:black;
  font-weight: lighter;
}

#hosting_request_description{
  resize: none;
  height: 20vh;
}

/*hosting request page */

.hosting-request-specifications span{
  color: gray;
}
.image_hosting_request{
  height: 8vh;
  width: auto;
  float: right;
}
.hostingPending{
  background-color: #f5bfff;
}