
@import "bottstrap-reset";
@import "variables";
@import "jqueryui";
@import "profile";
@import "bootswatchunited";
@import "navbar";
@import "fileinput";
@import "fileinput-rtl";
@import "offer";
@import "~bootstrap4-toggle/css/bootstrap4-toggle.css";
@import "~bootstrap/scss/bootstrap";




body .welcome-text {
  font-size: calc(20px + 10 * (100vw - 200px) / 1200);
  text-align: center;
  color: $blued;
}



/*------------dropdown user--------------------*/
#avatar-small {
  width:  40px;
  height: 40px;
  float: right;
}

/*------------dropdown user-------end-------------*/

/*-------- hide costom input file from symfony----*/
.cach-input {
  display: none;
}
/*-----------------end---------------*/
/*----------------charchbar---------------*/
#search-bar{
  background-color: $noird;
}
#search-bar .form-control {
  font-size: 85%;
  color: $noird;
}
.border-search{
  border-right: solid;
  border-right-width: 1px;
  border-right-color: #000;
  height: 40%;
  margin-bottom: 1%;
}
.border-search-category{
  border-right: solid;
  border-right-width: 1px;
  border-right-color: #000;
  height: 40%;
  margin-bottom: 1%;
}
/*-----------------end--------------*/