/*form*/
#meetup_description{
  resize: none;
  height: 16vh;
}

/*my meetup*/
.meetup_index a{
  text-decoration:none;
}
.meetup_index:hover{
  opacity: 0.8;
}
.image_meetup_index img{
  max-width: 100%;
  height: 20vh;
}
.show-image-meetup img{
  height: 16vh;
  width: 100%;
}
.user-link{
  text-decoration:none;
}
.user-link:hover{
  -webkit-box-shadow: 0px 0px 10px #00B5CE;
  -moz-box-shadow: 0px 0px 10px #00B5CE;
  box-shadow: 0px 0px 10px #00B5CE;
  text-decoration:none;
  color:black;
  font-weight: lighter;
}
.pending-meetup-request{
  background-color: bisque;
}

.border-meetup {
  -webkit-box-shadow: 0px 0px 2px #D2D4D7;
  -moz-box-shadow: 0px 0px 2px #d2d4d7;
  box-shadow: 0px 0px 2px #d2d4d7;
  padding-top: 1%;
  padding-bottom: 1%;
}
.cancel-joining-user i{
  font-size: 1.4em;
  color: orangered;
}
.participants a:hover{
  text-decoration:none;
}
.joining-user i{
  font-size: 1.4em;
  color: orangered;
  float: right;
}
#comment_description{
  resize: none;
}
.delete-comment i{
  font-size: 1.2em;
  color: orangered;
  float: right;
}
.border-comment{
  border: 1px solid #D2D4D7;
}
.border-comment-head{
  border-bottom: 1px solid #D2D4D7;
  background-color: #D2D4D7;
}
#btn-meetup-gps{
  color: white;
}
.back-gray{
  background-color:#444444;
}
.meetup-text{
  overflow-wrap: break-word;
}


#meetup-form .custom-file-input{
  display: none;
}
.meetup-form-group{
  min-height: 13em;
}

.meetup-form-image img {
  width: 20vw;
  height: 12em;
  margin-left:  calc((30vw - 20vw - 2em)/2);
}
.meetup-modal-image img {
  width: 33vw;
  height: 12em;
}

@media (max-width: 575px) {
  .meetup-form-image img {
    width: 80vw;
    margin-left:  calc((98vw - 80vw - 2em)/2);
  }
  .meetup-modal-image img {
    width: 80vw;
  }
}
@media (min-width: 576px) and (max-width: 766px) {
  .meetup-form-image img {
    width: 65vw;
    margin-left:  calc((98vw - 65vw - 2em)/2) ;
  }
  .meetup-modal-image img {
    width: 40vw;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .meetup-form-image img {
    width: 60vw;
    margin-left:  calc((98vw - 60vw - 7em)/2) ;
  }
  .meetup-modal-image img {
    width: 40vw;
  }
}
@media (min-width: 2240px) {

  .meetup-modal-image img {
    width: 20vw;
  }
}
#js_meetup_tab .nav-link {
  border: none;
}
.accept-joining-user i {
  font-size: 2em;
  color: springgreen;
}
.reject-joining-user i {
  font-size: 2em;
  color: red;
}