.navbar {
  background-color: $noird;
  padding: 0.1rem 1rem;
}


.icon img{
  width: 16px;
  height: 16px;
}

.logo {
  float: left;
  padding-left: 5px;
  padding-top: 10px;

  cursor: pointer;
}

.logo-acoord {
  cursor: pointer;

}
.forlogo{
  color: $blued;
  font-size: calc(15px + 10 * (100vw - 200px) / 1200);
  font-weight: bold;
}
.deallogo{
  color: $rosed;
}

.sidebar-toggle-box {
  margin-left: 0;
  margin-top: 9px;
}



.sidebar-toggle-box .fa-bars {
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
}

.fa-fw {
  text-align: left;
}


/***********************  side Bar ********************/
.sidebar{
  width:270px;
  background-color:$noird;
  position:fixed;
  min-height: 100vh;
  max-height: calc(100% - 5px);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999;
}

.fix-search  {
  max-height: calc(100% - 5px);
  overflow-y: auto;
  overflow-x: hidden;
}




.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:5px 2px; color: #999999;border-left:0px solid #dedede;  text-decoration:none}
.sidebar li a.active{background-color:#3e3e3e;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
.sidebar li a:hover {
  box-shadow: 190px 5px 80px #00B5CE inset;
  -webkit-transition-duration: 0.04s;
}

.sidebar ul {
  padding-left: 2px;
  margin-top: 80px;
  list-style:none;
  padding-bottom: 10em;
}

.sidebar li a i{ padding-right:5px;
  margin-left: 7px;
}
.sidebar ul li .sub-menu li a{ position:relative}
.sidebar ul li .sub-menu li a:before{
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 0px;
  padding-right: 10px;
  vertical-align: middle;
}
.sidebar ul li .sub-menu li a:hover:after {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 5px;
  background-color: #111;
  height: 100%;
}
.sidebar ul li .sub-menu li a:hover{ background-color:#222; padding-left:20px; transition: all 0.5s  ease-in-out}
.sub-menu{ border-left:5px solid #dedede;}
.sidebar li a .nav-label,.sidebar li a .nav-label+span{ transition: all 0.5s  ease-in-out}


.sidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{ display:none;transition: all 0.3s  ease-in-out}
.sidebar.fliph {
  width: 5em;
  transition: all 0.5s  ease-in-out;

}

.sidebar.fliph li{ position:relative}
.sidebar.fliph .sub-menu {
  position: absolute;
  left: 39px;
  top: 0;
  background-color: #3e3e3e;
  width: 150px;
  z-index: 900;
}

/*--------------mdSideBar----------------*/
.mdSidebar{
  width: 5em;
  background-color:$noird;
  position:fixed;
  min-height: 100vh;
  max-height: calc(100% - 5px);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999;
}

.mdSidebar li a,.mdSidebar li a.collapsed.active{ display:block; padding:5px 2px; color: #999999;border-left:0px solid #dedede;  text-decoration:none}
.mdSidebar li a.active{background-color:#3e3e3e;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
.mdSidebar li a:hover {
  box-shadow: 190px 5px 80px #00B5CE inset;
  -webkit-transition-duration: 0.04s;
}

.mdSidebar ul {
  padding-left: 2px;
  margin-top: 80px;
  list-style:none;
  padding-bottom: 10em;
}

.mdSidebar li a i{ padding-right:5px;
  margin-left: 7px;
}
.mdSidebar ul li .sub-menu li a{ position:relative}
.mdSidebar ul li .sub-menu li a:before{
  content: "\f105";
  display: inline-block;
  padding-left: 0px;
  padding-right: 10px;
  vertical-align: middle;
}
.mdSidebar ul li .sub-menu li a:hover:after {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 5px;
  background-color: #111;
  height: 100%;
}
.mdSidebar ul li .sub-menu li a:hover{ background-color:#222; padding-left:20px; transition: all 0.5s  ease-in-out}
.sub-menu{ border-left:5px solid #dedede;}
.mdSidebar li a .nav-label,.sidebar li a .nav-label+span{ transition: all 0.5s  ease-in-out}


.mdSidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{
  display:none;
  transition: all 0.3s  ease-in-out
}
.mdSidebar.fliph {
  width: 5em;
  transition: all 0.5s  ease-in-out;

}

.mdSidebar.fliph li{ position:relative}
.mdSidebar.fliph .sub-menu {
  position: absolute;
  left: 39px;
  top: 0;
  background-color: #3e3e3e;
  width: 150px;
  z-index: 900;
}


/*-------------end md side bar--------------*/


.user-panel {
  clear: left;
  display: block;
  float: left;
}
.user-panel>.image>img {
  width: 100%;
  max-width: 45px;
  height: auto;
}
.user-panel>.info,  .user-panel>.info>a {
  color: #fff;
}
.user-panel>.info>p {
  font-weight: 600;
  margin-bottom: 9px;
}
.user-panel {
  clear: left;
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 15px;
  padding: 25px 15px;
  border-bottom: 1px solid;
}
.user-panel>.info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}

.fliph .user-panel{ display: none; }

.fa-janabox img{
  width: 22.5px;
  height: 21px;
  margin-left: 8px;
}
.fa-lightbulb {
  margin-left: 1px;
}
.sidebar ul li a .fa-lightbulb {
  font-size: 24px;
  padding-left: 3px;
}
.fa-bell {
  margin-left: 1px;
}

.sidebar ul li a .fa-bell {
  font-size: 24px;
}

.extantion li {
  padding: 0 10px;
  margin-top: -10px;
  margin-left: 30%;
}

.extantion li ::before {
  content: "|";
  color: #ed145b;
  font-weight: bold;

}

@media  (min-width: 1200px){
  .sidebar{
    width:220px;
    z-index: 9999;
  }
  .sidebar li {
    padding: 8px 2px;
  }

  .logo-acoord span {
    font-size: 19px;
  }
  .sidebar li {
    padding: 1px 2px;
  }


}
@media (max-width: 1199px)and (min-width: 992px){
  .logo-acoord span {
    font-size: 16px;
  }

  .left  {
    margin-top:0;
  }
  .sidebar {
    width: 190px;
    z-index: 9999;
  }
  .nav-label{
    font-size: small;
  }
}
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.nono {
  width: 100%;
}

.wrapper {
  display: inline-block;
  padding-top: 1.3em;
  width: 100%;
}


#nav
{
  position:fixed;
  top:0;
  width: 100%;
  display:inline-block;
  z-index: 9999;
}
.header .dropdown-menu {
  /* position: absolute; */
  right: 1em;
  left: auto;
  border-radius: 5px;
  margin-top: 2em;
  background-color: whitesmoke;
}

.dropdown-menu.extended {
  max-width: 280px !important;
  min-width: 150px !important;
  top: 2em;
  width: 280px !important;
  padding: 0;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.176) !important;
  /*border: none !important;*/
  border-left: 1px solid #e9ecef;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}


.dropdown-menu.extended.logout > li {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e9ecef;

}

.dropdown-menu.extended.logout > li a{
 text-decoration: none;
  color: #495057;
}

.dropdown-menu.extended.logout > li:hover{
  background-color: #00B5CE;
}

.dropdown-menu.extended.logout > li > a i {
  font-size: 17px;
}

#avatar-small {
  width:  40px;
  height: 40px;
  float: right;
  border-radius: 8px;
}




.side-bar-icon img{
  width: 3em;
  height: 3em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
#cafe-gps img{
  width: 3em;
  height: 3em;
  margin-right: 0.5em;
  margin-left: 0.5em;

}

.navbar {
  padding: 15px 10px;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }


#sidebar {
  min-width: 300px;
  max-width: 300px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 9999;

}
#sidebar.fliph {
  width: 5em;
  transition: all 0.5s  ease-in-out;
  margin-left: -100px;
}


#sidebar ul li a:hover {
  color: #f8b739; }
#sidebar ul li.active > a {
  background: transparent;
  color: #f8b739;
}
.mar-open{
  margin-left: -80px;

}
.mar-close{
  margin-left: -220px;
  transition: all 0.5s  ease-in-out;
}
@media (min-width: 768px) and (max-width: 991px) {
  .mar-open{
    margin-left: 60px;

  }
  .mar-close{
    margin-left: 60px;
  }
}
@media (max-width: 767px) {
  .mar-open{
    margin-left: 0;

  }
  .mar-close{
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  #sidebarCollapse span {
    display: none;
  }
}

.lg-side-bar{
  border: solid 2px #0c5460 ;

}
.max-fix{
  width: 96vw;
}
.min-fix{
  width: 89vw;
}
@media (min-width: 768px) and  (max-width: 991px){
  .min-fix{
    width: 96vw;
  }
}
@media (min-width: 576px) and (max-width: 767px){
  .min-fix{
    width: 100vw;
  }
  .max-fix{
    width: 100vw;
  }
}
@media  (max-width: 575px){
  .min-fix{
    width: 100vw;
  }
  .max-fix{
    width: 100vw;
  }
}

.list-sidebar ::-webkit-scrollbar {
  width: 2px;
  height: 4px;
  background-color: lightgray;
}
body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px;
  height: 4px;
  background-color: lightgray;
}




