//slider photos offer
.description-ads textarea{
  resize: none;
  height: 7em;
}
.custom-fileg{
  width: 6em;
  height: 6em;
}

.item {
  height: 40vh;
}

.item img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;

}

// ad index
.border-ad{
  width: auto;
  height: 28vh;
  -webkit-box-shadow: 0px 0px 10px #D2D4D7;
  -moz-box-shadow: 0px 0px 10px #d2d4d7;
  box-shadow: 0px 0px 10px #d2d4d7;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 5%;

}
.ad_show {
  cursor: pointer;
  text-decoration:none;
  color:black;
  font-weight: lighter;

}
#ad_index a{
  text-decoration:none;
  color:black;
}
.image_ad {
  height: 20vh;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ad_offer{
  /*background-color: rgba(0, 181, 206, 1);*/
  border-bottom: solid 2px rgba(0, 181, 206, 0.5) ;
  border-right: solid 2px rgba(0, 181, 206, 0.5) ;
}
.ad_demand{
  /*background-color: #F70055;*/
  border-bottom: solid 2px rgba(247, 0, 85, 0.5) ;
  border-right: solid 2px rgba(247, 0, 85, 0.5) ;
}
.blacked{
  color: #444444;
}

.ad_index:hover{
  opacity: 0.9;
}
.ad-favorite{
  float: right;
}
.smoked{
  color: whitesmoke;
}

@media (min-width: 450px) and (max-width: 575px){
  #ad_index{
    margin-left: 5vh;
    margin-right: 5vh;
  }
}

.ad-card{
  background-color: #444444;
}

#avatar-ad {
  width:  50px;
  height: 50px;
  border-radius: 5px;
}
.profile-ava a{
  text-decoration: none;
}
.profile-ava a:hover{
  opacity: 0.9;
}
.full-border{
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.176) !important;
  border: solid 1px #ededed;
}
.ad-slide{
  background-color: #444444;
}
.demand-image img{
  height: 100%;
  width: 100%;
}
@media (max-width: 991px) {
  .fix-width{
    width: 100vw;
  }
}
#ad_description {
  height: 10em;
  resize: none;
}

