.search-down{
  font-size: 2em;

}
.search-down a:hover{
  color: #F70055;
}
.search-down a{
  color: #00B5CE;
}

@media (min-width: 992px)and (max-width: 1200px) {
  .search-down a i{
    font-size: 90%;
  }
}

.slider{
  width: auto;
}

/*overload bootswitch for search tab and user tab*/
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: whitesmoke;
  /*background-color: #F70055;*/
  background-color: #444444;
  border-color: #00B5CE #00B5CE #00B5CE;
  border-bottom: none;
}
.nav-link:hover {
  color: whitesmoke;
  background-color: #444444;
  border-color: #00B5CE #00B5CE #00B5CE;
  border-bottom: none;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
  border-color: #00B5CE #00B5CE #00B5CE;
  border-bottom: none;
}
.nav-link {
  color: whitesmoke;
  background-color: #00B5CE;
  border-color: #00B5CE #00B5CE #00B5CE;
  width: 100%;
}
.nav-tabs .nav-link {
  /*border: none;*/
  border-top-left-radius: 0.01px;
  border-top-right-radius: 0.01px;
}
.nav-tabs {
  border-bottom: none;
}
.p-respo{
  padding: 1.5rem;
}
@media (max-width: 575px) {
  .wrapper {
    padding: 0.5rem 0;
  }
  .p-respo{
    padding:  2.5rem 1rem 1rem 1.5rem
  }
  .nav-link {
    padding: 0.5rem 0.5rem;
  }

}
@media (min-width: 576px)and (max-width: 767px) {
  .p-respo{
    padding:  2.5rem 0.2rem 1rem 1rem
  }
}
.checkbox-hidden{
  display:none;
}
.slider-horizontal{
  margin-bottom: 1em;
}


@media (min-width: 992px)and (max-width: 1052px) {
  .span-hosting{
    font-size: 1.4vh;
  }
  #hosting-specifications label{
    font-size: 1.4vh;
  }
}
@media (min-width: 768px)and (max-width: 892px) {
  .span-hosting{
    font-size: 1.2vh;
  }
  #hosting-specifications label{
    font-size: 1.4vh;
  }
}
@media (max-width: 364px) {
  .span-hosting{
    font-size: 1.2vh;
  }
  #hosting-specifications label{
    font-size: 1.4vh;
  }
}
@media (min-width: 992px)and (max-width: 1054px) {
  .nav-link {
    padding: 0.5rem 0.5rem;
  }
}
.hosting-down i{
  color: #F70055;
}
