.fa-road{
  font-size: 200%;
}
.point-departre i{
  font-size: 150%;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.white{
  color: white;
}
.inf-badge{
  border-radius: 5px;
}
#voyage_request_description{
  resize: none;
  height: 9vh;
}
.passenger-carpool span i{
  font-size: 150%;
}
.accepted-voyage form i{
  color: limegreen;
}
.rejected-voyage form i{
  color: red;
}
.message-voyage form i{
  color: deepskyblue;
}
.voyage-map-time span{
  position: absolute;
  right: 0;
}
.voyage-map-item{
  position: absolute;
  top: auto;
}


.numberCircle {
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  font: 3em Arial, sans-serif;
}
.badge-blue{
  background-color: #00B5CE;
  color: whitesmoke;
}
.badge-gray{
  background-color: #444444;
  color: whitesmoke;
}
.map-style{
  width: auto;
  height: 40vh;
  min-height: 17em;
  border: solid 0.8em #444444;
  border-radius: 5px;
}

.local-border-rosed{
  border: 1px solid rgba(247,0,85,0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 2px;
  padding-right: -2em;
}
.one-voyage{
  min-height: 14em;
}
.rating-voyage a:hover{
  color: #F70055;
}
.rating-voyage a{
  cursor:pointer ;
  text-decoration: none;
  color: #00B5CE;
}
#voyage-control .nav-link{
  border: none;
}