{% extends "layout_user.html.twig" %}

{% block title %}Hosting{% endblock %}

{% block content %}
    <h1 class="title-blue text-center">Hosting</h1>
    <span> this page for show all the demand de hosting and all host operation for this user</span>

{% endblock %}
