{{ form_start(form) }}
    <div class="row ">
        <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-10 offset-1 border-deal">
            <p class="my-2 mx-4  text-center">{% trans %}Once the invitation is created, all {% endtrans %}
                <span class="rosed">Dispo<span class="rosed">Deal</span></span>
                {% trans %} users located within one kilometer area will be able to view your invitation.{% endtrans %}
            </p>
            <div class="row pt-3">
                <div class="col-md-5 ">
                    {{ form_row(form.type) }}
                </div>
                <div class="col-md-5">
                    {{ form_row(form.duration) }}
                </div>
                <div class="col-md-2">
                    <button class="btn btn-outline-info btn-block">{% trans %} Create{% endtrans %}</button>
                </div>
            </div>

        </div>
    </div>
{{ form_end(form) }}
