{{ form_start(form) }}
    <div class="row ">
        <div class="col-md-6 offset-3 border-deal">
            <p class="my-2 mx-4  text-center">{% trans %} Once the order is created, all {% endtrans %}
                <span class="blued">FOR<span class="rosed">DEAL</span>ING</span>
                {% trans %} users located within one kilometer area will be able to view your order.{% endtrans %}
            </p>
            <div class="row pt-3">
                <div class="col-md-5 ">
                    {{ form_row(form.type) }}
                </div>
                <div class="col-md-5">
                    {{ form_row(form.duration) }}
                </div>
                <div class="col-md-2">
                    <button class="btn btn-outline-info btn-block">{% trans %} Create{% endtrans %}</button>
                </div>
            </div>

        </div>
    </div>
{{ form_end(form) }}
