{% extends 'base.html.twig' %}

{% block title %}Edit Dspecification{% endblock %}

{% block body %}
    <h1>Edit Dspecification</h1>

    {{ include('dspecification/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dspecification_index') }}">back to list</a>

    {{ include('dspecification/_delete_form.html.twig') }}
{% endblock %}
