{% extends "layout_user.html.twig" %}
{% block content %}
    {% block fos_user_content %}
        <div class="profile-show">
            <div class="formWork">
                <div class="row">
                    <div class="col-12 mx-auto mb-2">
                        <h3 class="blued text-center">{% trans %} EDIT MY PASSWORD{% endtrans %}</h3>
                    </div>
                </div>
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-12">
                        <div class="local-border px-3 py-3">
                            {{ form_widget(form) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3 mt-3 col-12">
                        <input class="btn btn-primary btn-block " type="submit" value="{% trans %}Change password{% endtrans %}"/>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    {% endblock %}
{% endblock %}
