{% extends 'base.html.twig' %}

{% block title %}{% trans %} Edit Specification{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %} Edit Specification{% endtrans %}</h1>

    {{ include('specification/_form.html.twig') }}

    <a href="{{ path('specification_index') }}">{% trans %} back to list{% endtrans %}</a>

    {{ include('specification/_delete_form.html.twig') }}
{% endblock %}
