{% if app.user is not same as(null) %}
    {% set layout = 'layout_user.html.twig' %}
{% else %}
    {% set layout = 'layout_visitor.html.twig' %}
{% endif %}

{% extends layout %}

{% block title %}{% trans %}About us{% endtrans %}{% endblock %}

{% block content %}
<div class="col">
    <h2 class="text-center blued mt-4">{% trans %}About us{% endtrans %}</h2>
    {#must be translable#}

    <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <span class="blued d-inline"><span class="rosed">Dispo</span>Deal</span>
            <p>
                {% trans %}A platform for managing user needs and offers, made up of products and services, with the aim of improving social integration and encouraging exchanges.{% endtrans %}
            </p>
            <br>
            <span class="blued d-inline"><span class="rosed">Dispo</span>Deal</span>
            <p>
                {% trans %}cares about encouraging the virtual world to come closer to realism through interest-based communication between users in an area, based on a set of services.{% endtrans %}
            </p>
            <br>
            <span class="blued d-inline"><span class="rosed">Dispo</span>Deal</span>
            <p>
                {% trans %}offers deals based on your published ads, and other services that make your life easier.{% endtrans %}
            </p>
        </div>
    </div>
</div>
{% endblock %}