<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}On a d'accord{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/icons/favicon.png') }}"/>
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
                  integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
                  crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <section id="container" >
                    {% block header %}{% include "header.html.twig" %}{% endblock %}
                {% if app.user != null%}
                {% block sidebar %}{% include "sideBar.html.twig" %}{% endblock %}
                {% endif %}
                <section id="main-content">
                    <section class="container-fluid ">
                        <div class="wrapper">
                            <div class="col-md-9 col-md-offset-2 col-lg-9 col-lg-offset-2 col-sm-9 col-sm-offset-3 col-xs-7 col-xs-offset-5 mt-4">
                                {% block content %}

                                {% endblock %}
                            </div>
                        </div>
                    </section>
                </section>
                {% block footer %}{#{% include "footer.html.twig" %}#}{% endblock %}
            </section>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
