{% extends 'layout_user.html.twig' %}
{% block content %}
    <div class="">
        <div class="">
            <div class="mt-5">
                <h1 class="welcome-text">FORDEALING Coming Soon</h1>
                {% if app.user %}
                      <h2> Bienvenue {{ app.user.firstname }}</h2>
                {% endif %}
                <h1 class="blued text-center">Under construction</h1>
            </div>
        </div>
    </div>
{% endblock %}


