{% extends 'base.html.twig' %}
{% block body %}
    {% block header %}
        <html lang="{{ app.request.locale|split('_')[0] }}">
        <div id="socket_identifier" data-value="{% if app.user != null%}{{app.user.id}}{% else %}{{ 0 }}{% endif %}"></div>
        {% include "header.html.twig" %}
    {% endblock %}
    {% block min %}
        <div class="row">
            <div id="main">
                {#------------------#}
                <div class="wrapper d-flex align-items-stretch">
                    <div>
                        {% if app.user != null%}
                            {% block sidebar %}
                                <div class="d-none d-lg-block">
                                    {% include "sideBar.html.twig" %}
                                </div>
                                <div class="d-none d-md-block d-lg-none">
                                    {% include "mdSideBar.html.twig" %}
                                </div>
                                <div class="d-sm-block d-md-none">
                                    {% include "smSideBar.html.twig" %}
                                </div>
                            {% endblock %}
                        {% endif %}
                    </div>

                    <!-- Page Content  -->
                    <div id="{% if app.user is not same as(null) %}content{% endif %}" class="p-respo p-md-5 {% if app.user is not same as(null) %}mar-open{% endif %} user_layout">
                        {% include "search/searchbar.html.twig" %}
                        <div id="all">
                            {% block content %}

                            {% endblock %}
                        </div>
                        <div id="searching">
                            {% block content_search %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
                {#------------------#}
            </div>
        </div>
        <div class=" message-flash mb-4"style="z-index: 9999;">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% if label != 'comment' %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show text-center">
                            <p class="py-4 ">{{ message|trans }}</p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endblock %}
    {% block footer %}
            {% include "footer.html.twig" %}
    {% endblock %}
{% endblock %}
