{% extends 'base.html.twig' %}
{% block body %}
{% block header %}{% include "header.html.twig" %}{% endblock %}
    <section class="wrapper">
        <div class="">
            <div class="">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </section>
    </section>
{% endblock %}
