{% extends 'base.html.twig' %}
{% block body %}
{% block header %}{% include "header.html.twig" %}{% endblock %}
    <section class="wrapper">
        <div class="">
            <div class="user_layout">
                {% block content %}

                {% endblock %}
            </div>
        </div>
        {% block footer %}{% include "footer.html.twig" %}{% endblock %}
    </section>
{% endblock %}
