{% if app.user is not same as(null) %}
    {% set layout = 'layout_user.html.twig' %}
{% else %}
    {% set layout = 'layout_visitor.html.twig' %}
{% endif %}

{% extends layout %}

{% block title %}{% trans %}Mention légale{% endtrans %}{% endblock %}

{% block content %}
    <h2 class="text-center blued mt-4">Mention légale</h2>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <span class="blued d-inline text-center"><span class="rosed">Dispo</span>Deal</span>
            <p>
                est actuellement un site particulier qui fournit un service totalement gratuitement et qui est expérimental.
                dans le futur qui sera affilié à NajiSoft (une entreprise en construction) .
            </p>
            <span class="blued d-inline text-center"><span class="rosed">Dispo</span>Deal</span>
            <p>
                hébergé par Amazon Web Services 38 Avenue John F. Kennedy, L-1855, Luxembourg. Dans un instance à Paris.            </p>
        </div>
    </div>
    <div class="mt-5">
        <h6 class="blued text-center">Vous pouvez nous contacter par e-mail</h6>
        <h5 class="rosed text-center"> info@dispodeal.com</h5>
    </div>

{% endblock %}