{% block content %}
{% block fos_user_content %}
    {% apply inline_css(source("user/Mail/css/email.css")) %}
        <html>
            <body>
                <h3 class="blued text-center">{% trans %} Create new user by admin{% endtrans %}</h3>
                <div class="container message-border-blue">
                    <div>
                        <div class="logo-name text-center mt-1 message-border pading">
                            <a href="https://www.fordealing.fr" target="_blank">
                                <img src="{{img}}" alt="aaa">
                                <br>
                                <span class="blued">FOR<span class="rosed">DEAL</span>ING</span>
                            </a>
                        </div>
                        <div class="message-border mt-1 mb-1">
                            <div class="mt-1 mb-1 text-center">
                                <span class="grayed">{% trans %}Your{% endtrans %} <span class="blued">FOR<span class="rosed">DEAL</span>ING</span> {% trans %}account has been created{% endtrans %}</span>
                                <br>
                                <span class="grayed">{% trans %}You can now log in according to the following information{% endtrans %}</span>
                                <br>
                                <br>
                                <br>
                                <div class="content-data">
                                    <div class="d-block">
                                        <b class="rosed">{% trans %}User name :{% endtrans %}</b> <span class="blued">{{user.email}}</span>
                                    </div>
                                    <div class="d-block">
                                        <b class="rosed">{% trans %}Password :{% endtrans %}</b> <span class="blued">{{pass}}</span>
                                    </div>
                                    <div class="d-block">
                                        <b class="rosed">{% trans %}City :{% endtrans %}</b> <span class="blued">{{user.city}}</span>
                                    </div>
                                    <div class="d-block mt-1">
                                        <a href="https://www.fordealing.fr/login" class="btn btn-info" target="_blank">{% trans %}Login{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center footer message-border mb-1">
                            <span>{% trans %}With best wishes from the team at  {% endtrans %} <a href="https://fordealing.fr" target="_blank"> <span class="blued">FOR<span class="rosed">DEAL</span>ING</span></a> </span>
                        </div>
                    </div>
                </div>
            </body>
        </html>
    {% endapply %}
{% endblock fos_user_content %}
{% endblock %}
