{% block content %}
{% block fos_user_content %}
    {% apply inline_css(source("user/Mail/css/email.css")) %}
        <html>
            <body>
            <div class="container">
                <div>
                    <div class="b-blued">
                        <img src="{{img}}" alt="On est d'accord" class="d-inline">
                        <h1 class="d-inline">FORDEALING</h1>
                    </div>
                    <h2 class="text-center blued">{% trans %} Create new user by admin{% endtrans %}</h2>
                    <h4 class="text-center">{% trans %}Your{% endtrans %} <span class="rosed">FORDEALING</span>
                        {% trans %}account has been created, You can now log in according to the following information{% endtrans %}
                    </h4>
                    <div class="text-center">
                        <div class="d-block">
                            <b class="rosed">{% trans %}User name :{% endtrans %}</b> <span class="blued">{{user.email}}</span>
                        </div>
                        <div class="d-block">
                            <b class="rosed">{% trans %}Password :{% endtrans %}</b> <span class="blued">{{user.plainPassword}}</span>
                        </div>
                        <div class="d-block">
                            <b class="rosed">{% trans %}City :{% endtrans %}</b> <span class="blued">{{user.city}}</span>
                        </div>
                    </div>
                    <br>
                    <div class="text-center footer b-blued">
                        <b>{% trans %}With best wishes from the team at  {% endtrans %}<a href="127.0.0.1:8000"><span class="white">FORDEALING</span></a> </b>
                    </div>
                </div>
            </div>
            </body>
        </html>
    {% endapply %}
{% endblock fos_user_content %}
{% endblock %}
