{% extends 'base.html.twig' %}

{% block title %}Edit Deal{% endblock %}

{% block body %}
    <h1>Edit Deal</h1>

    {{ include('deal_deal/driver_edit_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('deal_deal_index') }}">back to list</a>

    {{ include('deal_deal/_delete_form.html.twig') }}
{% endblock %}
