{% extends "layout_user.html.twig" %}
{% block title %}Deal index{% endblock %}
{% block content %}
    <h3 class="text-center title-blue"> {% trans %}My Deals{% endtrans %}</h3>
    <div class="row border-bottom-none" >
        <div class="col-md-12 mr-2">
            <ul class="nav nav-tabs nav-justified pt-2" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="suggested-tab" data-toggle="tab" href="#suggested_deals" role="tab" aria-controls="offer" aria-selected="true">
                        <div class="">
                            {% trans %}Suggested deals{% endtrans %}
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="done-tab" data-toggle="tab" href="#done_deals" role="tab" aria-controls="offer" aria-selected="true">
                        <div class="">
                            {% trans %}Done deals{% endtrans %}
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active text-align form-new" id="suggested_deals" role="tabpanel" aria-labelledby="suggested-tab">
                    {% include "deal/suggested_deals.html.twig" %}
                </div>
                <div class="tab-pane fade show text-align form-new " id="done_deals" role="tabpanel" aria-labelledby="done-tab">
                    {% include "deal/done_deals.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
