{% extends 'base.html.twig' %}

{% block title %}Edit SDspecification{% endblock %}

{% block body %}
    <h1>Edit SDspecification</h1>

    {{ include('s_dspecification/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('s_dspecification_index') }}">back to list</a>

    {{ include('s_dspecification/_delete_form.html.twig') }}
{% endblock %}
