{% extends 'layout_user.html.twig' %}

{% block title %}{% trans %} Favorite{% endtrans %}{% endblock %}

{% block content %}
    <h2 class="blued text-center">{% trans %} Favorite{% endtrans %} </h2>
    <div class="favorite-page">
        {% if favorites %}
            <div class="row">
                {% for oneFavorite in favorites %}
                    {% if oneFavorite.type is same as ('ad') %}
                        {% include "favorite/type/ad.html.twig" %}
                    {% elseif oneFavorite.type is same as ('deal') %}
                        {% include "favorite/type/deal.html.twig" %}
                    {% elseif oneFavorite.type is same as ('hosting') %}
                        {% include "favorite/type/hosting.html.twig" %}
                    {% elseif oneFavorite.type is same as ('meetup') %}
                        {% include "favorite/type/meetup.html.twig" %}
                    {% elseif oneFavorite.type is same as ('voyage') %}
                        {% include "favorite/type/voyage.html.twig" %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="pagination-search row justify-content-center mt-4">
                <div class="navigation ">
                    {{ knp_pagination_render(favorites) }}
                </div>
            </div>
        {% else %}
            <h1 class="text-center title-blue">{% trans %}You don't have favorites{% endtrans %}</h1>
        {% endif %}
    </div>
{% endblock %}
