{% extends 'layout_user.html.twig' %}

{% block title %}Favorite index{% endblock %}

{% block content %}
    <h2 class="blued text-center">Favorite </h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>CreatedAt</th>
            </tr>
        </thead>
        <tbody>
        {% for favorite in favorites %}
            <tr>
                <td>{{ favorite.id }}</td>
                <td>{{ favorite.type }}</td>
                <td>{{ favorite.createdAt ? favorite.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
