<div class="container">
    <h4 class="blued text-center">{% trans %} Edit Category{% endtrans %}</h4>
    <div class="row">
        <div class="col my-3">
            <h5 class="rosed d-block">{% trans %} Category parent : {% endtrans %}<span class="blued">{% if category.parent %}{{ category.parent.name }}{% else %}{{ 'Is Parent' }}{% endif %}</span></h5>
            <h5 class="rosed d-block">{% trans %} Category name : {% endtrans %}<span class="blued" >{{ category.name }}</span></h5>
        </div>
    </div>
        {{ include('Ads/category/_form.html.twig') }}
</div>

