{% extends "layout_user.html.twig" %}

{% block title %}404 Error{% endblock %}

{% block content %}
    <h1>Page not found 404</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="/">return to the homepage</a>.
    </p>
{% endblock %}