{% block content %}
    <h1>{% trans %} Carpool index{% endtrans %}</h1>
    {# for admin#}
{% for driver in drivers %}
    <a href="{{ path('driver_show',{'id':driver.id}) }}">
        {{ driver.id }}<br>
    </a>
{% endfor %}
{% endblock %}

