{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{% trans %}Save{% endtrans %}</button>
<button type="submit" class="btn btn-primary">{% trans %}Register{% endtrans %}</button>
{{ form_end(form) }}
