{% extends 'base.html.twig' %}

{% block title %}Edit SOspecification{% endblock %}

{% block body %}
    <h1>Edit SOspecification</h1>

    {{ include('s_ospecification/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('s_ospecification_index') }}">back to list</a>

    {{ include('s_ospecification/_delete_form.html.twig') }}
{% endblock %}
