{{ form_start(commentForm) }}
<span>Add new comment</span>
    {{ form_widget(commentForm) }}
<button class="btn btn-info float-right my-2">{% trans %} Comment{% endtrans %}</button>
{{ form_end(commentForm) }}