{{ form_start(commentForm) }}
<span>Add new comment</span>
    {{ form_widget(commentForm) }}
<button class="btn btn-info float-right my-2">{{ button_label|default('Comment') }}</button>
{{ form_end(commentForm) }}